<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/main.css">

    <title>{{ settings.name }}</title>

    {% if settings.accent_color %}
        <style>
            :root {
                --color-accent: {{ settings.accent_color }};
            }
        </style>
    {% endif %}
</head>

<body>
    <div id="menu">
        <h1>
            <img alt="The {{ settings.name }} logo" src="{{ settings.logo }}">
            <span>
                {{ settings.name }}
            </span>
        </h1>
        {% if settings.dashdot.enabled %}
            <div class="dashdot">
                {% for widget in settings.dashdot.widgets %}
                    <section>
                        <h3>{{ widget }}</h3>
                        <iframe
                            src="{{ settings.dashdot.host }}?graph={{ widget }}&color={{ settings.accent_color.as_hex() | trim('#') }}&showPercentage={{ settings.dashdot.show_values | string | lower }}{% if widget == 'storage' and settings.dashdot.split_view %}&multiView=true{% endif %}"
                            allowtransparency="true"
                            frameborder="0">
                        </iframe>
                    </section>
                {% endfor %}
            </div>
        {% endif %}
        <div class="end">
            {% if user %}
                <a class="user" href="{{ settings.auth.logout_url }}">
                    <span>{{ user }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24M74.08 197.5a64 64 0 0 1 107.84 0a87.83 87.83 0 0 1-107.84 0M96 120a32 32 0 1 1 32 32a32 32 0 0 1-32-32m97.76 66.41a79.66 79.66 0 0 0-36.06-28.75a48 48 0 1 0-59.4 0a79.66 79.66 0 0 0-36.06 28.75a88 88 0 1 1 131.52 0" />
                    </svg>
                </a>
            {% endif %}
            <div class="about">
                <p>
                    © 2024
                </p>
                <a href="#" id="about-link">
                    about {{ settings.name }}
                </a>
            </div>
        </div>
    </div>
    <dialog hx-get="/about" hx-trigger="click from:#about-link" hx-target="#about-content" hx-on::after-swap="this.showModal();">
        <h1>
            <img alt="The {{ settings.name }} logo" src="{{ settings.logo }}">
            <span>
                {{ settings.name }}
            </span>
        </h1>
        <form method="dialog">
            <button class="close">✕</button>
        </form>
        <div id="about-content">
            <h3>About this dashboard</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
            </p>
        </div>
    </dialog>
    <main>
        {% for app in apps %}
        <a href="{{ app.url }}">
            <img src="{{ app.icon }}">
            <h3>
                {{ app.name }}
            </h3>
            <p>{{ app.desc }}</p>
        </a>
        {% endfor %} 
    </main>
</body>

</html>